@model List<WriterTable>


<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
			<img src="@item.ImageUrl" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
			<h4 class="text-black">@item.Name @item.Surname</h4>
			<p>Unvan: @item.Description </p>
			<h6 class="text-black">@item.Mail</h6>
		</div>
	}

</div>